<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".KabinkaApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@android:style/Theme.Material.NoActionBar"
        tools:replace="android:name,android:theme,android:networkSecurityConfig">
        
        <!-- Configure post-OAuth redirect target for kabinka-frontend -->
        <meta-data
            android:name="kabinka.post_auth_activity"
            android:value="app.kabinka.frontend.MainActivity" />
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:launchMode="singleTask">
            <!-- LAUNCHER intent-filter moved to src/frontend/AndroidManifest.xml -->
            
            <!-- Deep link for Mastodon OAuth callback -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="kabinka" android:host="oauth" android:pathPrefix="/mastodon"/>
            </intent-filter>
            
            <!-- Deep link for Matrix OAuth callback (if SSO is used) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="kabinka" android:host="oauth" android:pathPrefix="/matrix"/>
            </intent-filter>
        </activity>
        
        <!-- Explicitly REMOVE kabinka-social's MainActivity from merged manifest -->
        <activity
            android:name="app.kabinka.social.MainActivity"
            tools:node="remove" />
        
        <!-- Explicitly REMOVE kabinka-social's other UI activities -->
        <activity
            android:name="app.kabinka.social.ExternalShareActivity"
            tools:node="remove" />
        
        <activity
            android:name="app.kabinka.social.DonationFragmentActivity"
            tools:node="remove" />
        
        <!-- OAuth callback activity for Mastodon login -->
        <activity 
            android:name="app.kabinka.social.OAuthActivity" 
            android:exported="true" 
            android:configChanges="orientation|screenSize" 
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="mastodon-android-auth" android:host="callback"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
